## DATAFRAMES

In [9]:
import pandas as pd

frame_test = pd.DataFrame({1999: [100, 200, 300],
                           2000: [400, 500, 600],
                           3000: [700, 800, 900]})
frame_test

   1999  2000  3000
0   100   400   700
1   200   500   800
2   300   600   900

In [21]:
frame_test_2 = pd.DataFrame([[100, 200],[400, 500],[700, 800]], columns=[1999,2000], index=["a", "b", "c"])
frame_test_2

   1999  2000
a   100   200
b   400   500
c   700   800

In [22]:
frame_test[[1999, 2000]]

   1999  2000
0   100   400
1   200   500
2   300   600